body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, nav, .content-a, .content-b, footer {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #ffffff; 
}

nav {
    background-color: #ffffff; 
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.content-a, .content-b {
    width: 49%; 
    height: 440px; 
}

.content-a {
    background-color: #ffffff;
}

.content-b {
    background-color: #ffffff; 
}

footer {
    background-color: #ffffff; 
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .content-a, .content-b {
        width: auto; 
    }
}
