body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, nav, .content, .side-content, footer {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #ffffff; 
}

nav {
    background-color: #ffffff; 
}

.main-content {
    display: flex;
    justify-content: space-around;
    height: 650px;
}

.content {
    width: 50%; 
    height: 600px; 
    background-color: #ffffff; 
}

.side-content {
    width: 20%; 
    height: 600px; 
    background-color: #ffffff; 
}

footer {
    background-color: #ffffff; 
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .content, .side-content {
        width: 100%; 
    }
}
