body *{
    border:2px solid #000;
    height: 70px;
    margin: 10px;
    text-align: center;
    font-size: 2rem; 
}

nav{
    height: 70px;
}

main{
    border:2px solid #000;
    width: 99%;
    height: 1080px;
    margin: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;

}

footer{
    border: 2px solid #000;
    height: 50px;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    
}